<ul class="list-group">
    <li class="list-group-item {{administrators_active}}"><img src="./images/lib/material-icons/core/folder-shared.svg"
                                            style="width: 32px;">&nbsp;&nbsp;<a href="AdministratorHub.html"
                                                                                class="rightAnchor">Administrators</a>
    </li>
    <li class="list-group-item {{admin_internal_requests_active}}"><img src="./images/lib/material-icons/notifications/sync.svg"
                                     style="width: 32px; align=">&nbsp;&nbsp;<a href="AdminUsersRequests.html"
                                                                                class="rightAnchor">Admin
        Internal Requests</a></li>
    <li class="list-group-item {{system_log_active}}"><img src="./images/lib/material-icons/social/share-alt.svg"
                                     style="width: 32px;">&nbsp;&nbsp;<a href="SystemLog.html" class="rightAnchor">System
        Log</a></li>
    <hr>
</ul>