<ul class="list-group">
    <li class="list-group-item {{users_active}}"><img src="./images/lib/material-icons/core/folder-shared.svg"
                                            style="width: 32px;">&nbsp;&nbsp;<a href="InternalUserLanding.html"
                                                                                class="rightAnchor">Users</a>
    </li>
    <li class="list-group-item {{non_critical_transactions_active}}"><img src="./images/lib/material-icons/notifications/sync.svg"
                                     style="width: 32px;">&nbsp;&nbsp;<a href="NonCriticalTransactions.html"
                                                                                class="rightAnchor">Transactions</a></li>
    <!-- <li class="list-group-item {{critical_transactions_active}}" id="criticalLi"><img src="./images/lib/material-icons/social/share-alt.svg"
                                     style="width: 32px;">&nbsp;&nbsp;<a href="CriticalTransactions.html" class="rightAnchor">Critical
        Transactions</a></li> -->
    <li class="list-group-item {{external_requests_active}}"><img src="./images/lib/material-icons/social/notifications.svg"
                                     style="width: 32px;">&nbsp;&nbsp;<a href="UserRequestsExternal.html" class="rightAnchor">Requests</a></li>
    
    <hr>
    <h2 style="text-align: center">&nbsp;</h2>
</ul>