<h4>Deposit Approval Transactions </h4>
<hr>
<table id="myTable" class="display table dataTable no-footer" width="100%">
    <thead>
    <tr>
        <th>From acc</th>
        <th>To acc</th>
        <th>Type</th>
        <th>Description</th>
        <th></th>
        <th>Amount</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    {{ #. }}
    <tr>
        <td>{{ transSrcAccNo }}</td>
        <td>{{ transDestAccNo }}</td>
        <td>{{ transType }}</td>
        <td>{{ transDescription }}</td>
        <td>
            <!-- Indicates a successful or positive action -->
            <button type="button" value="{{ transId }}" status="APPROVED" name="btntranslist_app_{{ transId }}" class="btn btn-success">Authorize</button>
            <!-- Indicates a dangerous or potentially negative action -->
            <button type="button" value="{{ transId }}" class="btn btn-danger" name="btntranslist_rej_{{ transId }}" status="REJECTED" >Decline</button>
        </td>
        <td>${{transAmount}}</td>
        <td> {{ transResult }}</td>
    </tr>
    {{ /. }}

    

    </tbody>
</table>
<script>
$(document).ready(function () {
    $('#myTable').dataTable();
    $("#myTable_length").hide();
    $("#myTable_filter").hide();
});
$("button[name^='btntranslist_']" ).click(function() {
	var data = '{"transId":"' + $(this).attr("value") + '", "transStatus":"' + $(this).attr("status") + '"}'
	//console.log(data)
	$.ajax({
        url : 'transactions/updateAddWithdrawStatus',
        type :'POST',
        data : data,
        contentType: 'application/json',
        success : function(data) {
        	alert(data)
        	$(location).attr('href', 'NonCriticalTransactions.html');
        },
        error : function(jqXHR, textStatus, errorThrown) {
        	alert("Some problem detected while deleting")
        	//console.log(jqXHR)
        }
    });
})

</script>