<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>AddAccountController</servlet-name>
    <servlet-class>cse.bank.controllers.asu.edu.AddAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountController</servlet-name>
    <url-pattern>/AddAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EdiAccountController</servlet-name>
    <servlet-class>cse.bank.controllers.asu.edu.EditAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountController</servlet-name>
    <url-pattern>/EditAccountController</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DeleteAccountController</servlet-name>
    <servlet-class>cse.bank.controllers.asu.edu.DeleteAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountController</servlet-name>
    <url-pattern>/DeleteAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>cse.bank.controllers.asu.edu.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserController</servlet-name>
    <servlet-class>cse.bank.controllers.asu.edu.EditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserController</servlet-name>
    <url-pattern>/EditUserController</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>cse.bank.controllers.asu.edu.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DataFetchController</servlet-name>
    <servlet-class>cse.bank.controllers.asu.edu.DataFetchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataFetchController</servlet-name>
    <url-pattern>/DataFetchController</url-pattern>
  </servlet-mapping>
</web-app>